body {
  background-color: #DAD0C2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #CDBBA7;
  border-width: 5px;
  width: 40%;
}

h1 {
  color: #402218;
}

h3 {
  color: #402218;
  font-style: oblique;
}

.fun:hover {
  color: gold;
}

div {
  text-align: center;
}

ul {
  display: inline-block;
  text-align: left;
}

.table1 {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
